html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;

    background: linear-gradient(-45deg, #2980B9, #6DD5FA, #FFFFFF);
    background-size: 400% 400%;
    font-family: sans-serif;
    justify-content: center;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.FFe{
margin: 0;

    background:  linear-gradient(-45deg, #fa8e00, #ce067b, #6f01ff);
    animation: Fww 10s ease infinite;
    -webkit-background-clip: text;
    font-family: sans-serif;
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    top:calc(50% - 150px);
    width: 700px;
   height: 700px;
    -webkit-text-fill-color: transparent;
}

@keyframes Fww {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
