body{
display: block;
background-color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 100%;
height: 100%;
}

.loginput{
position: absolute;
border: 1px rgb(255, 255, 255) solid;
height: 100%;
width: 600px;
}

.writer{
    position: absolute;
    height: 87%;
    left: 5px;
    top: 100px;
    width: 590px;
    }